@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@200;300;400;600;800&display=swap');

/*  
Responsive Breakpoints
By default styles are for smaller screens < 800px
*/
$medium: 800px; 
$large: 1500px;


body{
  background-color: rgb(251, 251, 251);
  font-family: 'Kumbh Sans', sans-serif;
  color: rgb(43, 43, 43);
  
}



button{
  
  border: none;
  background-color: white;
  padding: 0;
  margin: 0;
  font-size: 1.1rem;
  font-weight: 600;
  color: coral;
 
  

}
button:hover{
  text-decoration: underline;
}

li{
  list-style: none;
  padding: 5%;
}

.header{
  text-align: center;
}

/* Component displayed to user while data is being loaded from API*/
.loader{
  text-align: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Screen A (Displaying list of all countries in a Grid)*/
.grid-container{
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  text-decoration: none;

  @media screen and (min-width: $medium) {
    grid-template-columns: 1fr 1fr;
  }
  
  @media screen and (min-width: $large) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .grid-element{
    padding: 5%;
    margin: 5%;
    border: 2px solid rgb(240, 240, 240);
    background-color: white;
    transition: 0.2s ease-in;
    cursor: pointer;
    


    img{
      width:100%;
      height: fit-content;
      pointer-events: none;

    }

    
  }

  .grid-element:hover{
    background-color: rgb(222, 238, 253);
   
  }

  
}





/* Screen B (Displaying detailed info for one country)*/
.country-information{
  width: 80%;
  margin: auto;
  margin-top: 5%;
  border: 2px solid rgb(240, 240, 240);
  background-color: white;
  padding: 5%;
}

.flag-container{
  width: 80%;
  margin: auto;

  margin-bottom: 5%;
 
  


 
}

.country-stats{
  width: 80%;

  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}



.list-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}